  .background-home{
    background-image: url("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1586879575/background_rpweju.jpg");
    height: 100vh;
    text-align: center;
  }
.title-home{
  text-align: center;
  padding-top: 60px;
}
.content-home{
  padding-top: 60px;
}
.button-home{
  border-radius: 50px;
  margin-top: 350px;
  background-color: #F96D6C;
  color: white;
  width: 170px;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.login-home{
  color:white;
  margin-top: 25px;
  font-size: 20px;
  margin-bottom: 0;
}
.link-login-home{
  text-decoration: none;
  color: white;
  font-weight:bold;
  font-size:25px;
}
