.back-grey-show{
  background-color: rgb(245,245,245);
  position: fixed;
  top: 0;
  z-index: 50;
}
.header-show{
  font-family: 'Red Hat Text', sans-serif;
  h2{
    font-family: 'Red Hat Text', sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
    font-size:18px;
    padding-top:12px;
  }
  p {
        font-weight: 500;
        padding:0;
        margin: 0 0 12px 12px;
        color:grey;
        font-size:14px;
  }
}
#contentshow{
  margin-top: 0;
  padding-top: 16px;
  text-align:center;
  font-family: 'Red Hat Text', sans-serif;
  h3{
    font-weight: 500;
    font-family: 'Red Hat Text', sans-serif;
    font-size:15px;
    margin-bottom: 0;
  }
  p{
    padding: 6px 20px 16px 20px;
    font-family: 'Red Hat Text', sans-serif;
    font-size:12px;
    margin-bottom: 0;
  }
}
.bla{
  margin-top:16px;
  text-align:center;
  font-family: 'Red Hat Text', sans-serif;
  display:none;
  h3{
    font-family: 'Red Hat Text', sans-serif;
    font-size:15px;
    font-weight: 500;
    margin-bottom: 0;
  }
  p{
    padding: 6px 20px 16px 20px;
    font-family: 'Red Hat Text', sans-serif;
    font-size:12px;
    margin-bottom: 0;
  }
}
.cards-step{
  margin-top: 420px;
  padding: 0;
  text-align: center;
  justify-content:center;

  p{
    font-family: 'Red Hat Text', sans-serif;
  }
}

.no-deco, .no-deco:hover, .no-deco:focus, .no-deco:active {
    text-decoration: none;
    outline: none;
    color: white;
}

.card-step{
  padding-top: 60px;
  margin: 20px auto;
  width: 250px;
  height: 180px;
  border-radius: 10px;
  text-align:center;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  position: relative;
  z-index: 0;
  & .info {
    z-index: 2;
  }
  & .bandeau-show {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
  }
}

.card-step p {
  font-weight: 500;
  margin: 0 20px;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 23px;
}

.card-step:hover{
  background-color: #000000;
}

.link-between-step{
  margin: 0 auto;
  height:50px;
  width: 0vw;
  border-right: 1px solid rgb(200,200,200);
}

.etape-number{
  color: #b8b8b8;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.infos {
  display: flex;
  justify-content: center;
  p {
    font-size: 13px;
    font-weight:700;
    color: white;
    display: inline-block;
    text-align: center;
  }
}
.details-show{
  width: 60%;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  p{
    font-size:10px;
  }
}

.card-course-rating {
  display: flex;
  flex-direction: column;
}

.stars {
  color: #F9AE1E !important;
  margin: 8px auto !important;
}

.card-course-duration-show{
  color: white;
  padding: 10px 16px 0 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.reviews-list{
  position: fixed;
  top: 57px;
  right: 160px;
  p{
  font-size: 12px;
  color: rgb(210,210,210);

  }
}
