.eye-step-btn{
  background-size: 30px;
}

.button-eye-step{
  width:24px;
  height:24px;
  background-image: url("http://download.seaicons.com/icons/custom-icon-design/mono-general-4/24/eye-icon.png");
}

.content-answer{
  height:64px;
  background: #F96D6C;
  border-radius: 5px;
  margin: 32px 32px 19px 0;
  cursor: pointer;

  &.selected {
    // reponse selectionnee
    background-color: yellow;
  }
}

.answer{
  padding: 8px 16px;
  // padding: 20 0px;
}

.quiz{
   margin-top: 160px;
}

.step-container {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  text-align:center;
  color: white;
}

.step-control-container {
  display:flex;
  align-items:center;
  flex-direction:column;
}

.title-step {
  position:absolute;
  top:30px;
  margin:0 auto;
  width:100%;
  z-index:996;
}

.title {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:16px;
}
.current-step {
  font-size:10px;
  font-weight:500;
  letter-spacing: 0.15em;
  text-transform:uppercase;
  position: relative;
  // animation-name: textLoad;
  // animation-duration: 0.5s;
  // animation-timing-function:ease;
  // animation-play-state: running;
  // animation-iteration-count:1;
  // animation-direction:normal;
  animation: textLoad .5s;
  animation-delay:.5s;
  opacity:0;
  animation-fill-mode:forwards;
}

.current-step .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.current-step .letters {
  display: inline-block;
  line-height: 1em;
}
.step-name {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top:20px;
  padding-bottom:60px;
  position: relative;
  animation: textLoad .5s;
  animation-delay:1s;
  opacity:0;
  animation-fill-mode:forwards;
}

.animation-content{
  animation : SlideLeft 1.3s cubic-bezier(.8,0,0,1);
  opacity:0;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.content{
  opacity:0;
  font-family: 'Sorts Mill Goudy', serif;
  padding-top:260px;
  // vertical-align:middle;
  width:80%;
  font-size:24px;
  line-height:1.4;
  margin:0 auto;
}
.step-name:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  top:72px;
  left: 0%;
  position: absolute;
  background: #E4A124;
  animation: underline .5s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  animation-fill-mode: forwards;
  animation-delay:1s;
}


@keyframes underline {
  0% {
   width: 0%;
  left: 50%;

  }
  100% {
    width: 50%;
  left: 25%;
  }
}
@keyframes SlideLeft {
  0% {
    transform: translateX(120px);
  }
  20% {
    opacity:0;
  }
  100% {
    opacity:1;
    transform: translateX(0px);
  }
}

.siema {
  height:100vh;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width:100vw;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: center;
  background-size: cover;
  z-index:-1;
}

.slide:after {
  content:'';
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 1;
}
.controls {
  position:absolute;
  bottom:50px;
  display:flex;
  margin-top: 24px;
  margin:0 auto;
}

.circle {
  width:10px;
  height:10px;
  margin:8px;
  border:1px solid white;
  border-radius:50%;
  z-index: 996;
}

.dot-active {
  background-color:white;
}

.slide-quiz {
  text-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width:100vw;
  height:100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: center;
  background-size: cover;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}


.ask{
  display:top;
  font-family: 'Red Hat Text';
  margin-top: 160px;
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
  font-size:16px;
  padding: 0 20px;
}
.collection_radio_buttons{
  // margin-top: 28px;
  font-family: 'Sorts Mill Goudy', serif;
  color: white !important;
  font-size: 20px;
}
.buttonquizz{
  border-radius:50px;
  background-color: #F96D6C;
  border:none;
  margin-top: 32px;
  z-index:999;

  &.no-deco, &.no-deco:hover, &.no-deco:focus, &.no-deco:active {
    text-decoration: none;
    outline: none;
    color: white;
}
}
.buttonquizz:hover {
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.form-check-input-step{
  margin-top:32px;
}


.hidden{
  display:none;
}

#explanations{
  background-color: #E4A124;

  position: fixed;
  top:0;
  left:0;
  background-size: cover;
  z-index:990;
  width:100vw;
  height:100vh;
  p {
    font-family: 'Sorts Mill Goudy', serif;
    padding-top:28px;
    margin: 28px;
    color:black;
    // font-size:16px;
  }
}

#explanations:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  top:135px;
  left: 0%;
  position: absolute;
  background: black;
  animation: underline .5s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  animation-fill-mode: forwards;
  animation-delay:1s;
}

@keyframes textLoad {
  0% {
    opacity: 0;
    transform:translateY(-10px);
  }
  100% {
    opacity: 1;
    transform:translateY(0px);
  }
}
