.wrapper_quiz{
  background-color: black;
  width: 100vw;
}

.baseline_answer{
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1ABA50;
}

.step-name_quiz{
  font-family: 'Red Hat Text';
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0px 40px;
  padding-top: 40px;
}

.step-name_quiz:after{
    bottom: 50px;
    content: "";
    display: block;
    height: 2px;
    // top: 72px;
    left: 0%;
    // position: absolute;
    background: #E4A124;
    width: 200px;
    text-align: center;
    margin-left: 45px;
    margin-top: 10px;
}

.wrong_answer{
  color: #BA1A1A;
}

.user_step_question{
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  //letter-spacing: -0.015em;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.user_answer{
  color: red;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.correct_answer{
  font-family: 'Sorts Mill Goudy';
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #1ABA50;
  margin-left: 20px;
  margin-right: 20px;
}

.logo_user_show{
  margin-left: 20px;
  margin-top: -90px;
}

.border-quiz{
  border: 1px solid grey;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
}
