

  <div class="background-home">
    <div class="container">

       <img  class="title-home" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587125681/typomegaleetic2_enj1bh.png" alt="">
<!--        <p class="content-home">Nous avons des parcours avec des jeux culturels pour découvrir les menhirs tout en s'amusant</p>
 -->        <p class="content-home">Osez l'aventure, vous êtes guidés !</p>
            <br>
            <div class="desc-home ">
              <div class="test">
                <div class="circle-home"></div>
                <p>Des parcours créés par des professionnels</p>
              </div>
              <div class="test">
                <div class="circle-home"></div>
                <p>Découvrez des lieux uniques dont vous ignorez l'existence</p>
              </div>
              <div class="test">
                <div class="circle-home"></div>
                <p>Quizz pour tester ses connaissances</p>
              </div>
            </div>
      <div class="button-home">
        <%= link_to "C'est parti !", courses_path, class:"login"%>
      </div>
      <div class="animate">
        <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587378444/dolmen_vtvpsm.svg" alt="">
      </div>
    </div>
  </div>


