
  <div class="background-home">
    <div class="container">

       <img  class="title-home" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587029805/typomegaleetic_cmleki.png" alt="">
       <p class="content-home">We add courses with cultural games to discover these Menhirs while having fun</p>
       <div class="login"> <%= link_to "C'est parti", courses_path, class:"button-home" %>
        <!--  <p>Avez-vous déjà un compte ? </p>
         <%= link_to "Se connecter", courses_path %> -->
       </div>
    </div>
  </div>

