

  <div class="background-home">
    <div class="container">
      <img  class="title-home" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587125681/typomegaleetic2_enj1bh.png" alt="">
      <p class="content-home">Osez l'aventure, vous êtes guidés !</p>
      <br>
      <div class="desc-home ">

      <div id="fly-in">
      <div><span>Découvrez des lieux </span>uniques<span>dont vous ignorez l'existence</span></div>
      <div><span>Des parcours créés par</span>des experts <!-- des mégalithes --></div>
      <div>Testez <span> vos connaissances</span></div>
      <div>Apprenez<span> en vous amusant</span> </div>
    <!--   <div><span>Very</span>Cinematic</div>
      <div>Fade Away<span>into the distance</span></div>
      <div>Still Loops <span> for eternity</span></div>
      <div><span>Just CSS</span> and HTML</div> -->
      </div>


      <div class="button-home">
        <%= link_to "C'est parti !", courses_path, class:"login"%>
      </div>

      </div>
    </div>
  </div>

<!--
              <div class="slider">
                <div class="mask">
                  <ul>
                    <li class="anim1">
                      <div class="quote">Des parcours créés par des experts des mégalithes.</div>
                       <div class="source">- Person</div>
                    </li>
                    <li class="anim2">
                      <div class="quote">Découvrez des lieux uniques dont vous ignorez l'existence.</div>
                    </li>
                    <li class="anim3">
                      <div class="quote">Testez vos connaissances.</div>
                    </li>
                    <li class="anim4">
                      <div class="quote">Apprenez en vous amusant !</div>
                    </li>
                  </ul>
                </div>
              </div>
 -->


