

  <div class="background-home">
    <div class="container">
      <img  class="title-home" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587125681/typomegaleetic2_enj1bh.png" alt="">
      <p class="content-home">Osez l'aventure, vous êtes guidés !</p>
      <br>
      <div class="desc-home ">
        <div id="fly-in">
          <div><span>Découvrez des lieux </span>uniques<span>dont vous ignorez l'existence</span></div>
          <div><span>Des parcours créés par</span>des experts <!-- des mégalithes --></div>
          <div>Testez <span> vos connaissances</span></div>
          <div>Apprenez<span> en vous amusant</span> </div>
        </div>
        <div class="button-home">
          <%= link_to "C'est parti !", courses_path, class:"login"%>
        </div>
      </div>
    </div>
  </div>



