
  <div class="background-home">
       <h1 class="title-home">MEGALEETIC</h1>
       <p class="container content-home">We add courses with cultural games to discover these Menhirs while having fun</p>

      <button class="btn btn-primary button-home">C'est parti !</button>
      <p class="login-home">Avez-vous déjà un compte ? </p>
      <a href="" class="link-login-home">Se connecter</a>

  </div>

