<div class="container">
  <div class="siema">
    <div class="slide" id="slide-1">
      <div class="step-title">
      <div class="current-step">
        Etape 1
      </div>
      <div class="step-name">
        megalith-name
        Le grand Menhir
      </div>

</div>
      <div class="content">
      Dressé aux alentours de 4 500 ans avant J.-C., en même temps que 18 autres blocs, et volontairement abattu vers 4 400 ans avant J-C.
    </div>
      <div class="controls">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <div class="slide" id="slide-2">
      <div class="title">
      <div class="current-step">
        Etape 2
      </div>
      <div class="step-name">
        Le Petit Menhir
      </div>
    </div>
      <div class="content">
      Dressé aux alentours de 4 500 ans avant J.-C., en même temps que 18 autres blocs, et volontairement abattu vers 4 400 ans avant J-C.
    </div>
    </div>
  </div>
</div>
