<h2 class= "title-index">Découvrez des <br>megalithes près de<br> chez vous</h2>

<!--<div class="menu" >
  <input class="burger" type="checkbox">
    <nav>
      <a href="#"><i class="material-icons"></i>Setting</a>
      <a href="#"><i class="material-icons"></i>Sign out</a>
      <a href="#"><i class="material-icons"></i>My courses</a>
      <a href="#"><i class="material-icons"></i>Explore</a>
    </nav>
</div>-->
<div class="toggle-btn" >
    <span></span>

</div>
<div class="my-nav">
  <a href="" class= "logo">Avatar</a>
  <a href="">Setting</a>
  <a href="">Sign out</a>
  <a href="">Mes courses</a>
  <a href="">Explore</a>
  <a href="">Send us feedback</a>
</div>


<div class="map">

  <input class="search" type="search" placeholder="Rechercher...">
  <button type="button" class="btn-map"> <img class="eye-map-btn"src= "http://download.seaicons.com/icons/custom-icon-design/mono-general-4/24/eye-icon.png"></button>
</div>
<div class= "populaire">
    <h3>Les mieux notés</h3>
    <div class= "card-course-index">
      <% @courses.each do |course|  %>
        <div class="card-category-index" style="">
          <p class= "card-course-etape"><%= course.steps.count %> étapes </p>
          <p class= "card-course-name"><%= course.name %></p>
          <p class= "card-course-description"><%= course.description%></p>
          <p class= "card-course-duration"><%= course.duration_in_minutes %></p>
        </div>
      <%end %>
    </div>
</div>

  <div class= "next-to-you">
    <h2>Près de chez vous</h2>
    <div class= "card-course-index">
      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
Breakfast
      </div>
      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
Breakfast
      </div>
      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>

      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>

      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>

    </div>

  </div>
