.button-eye-step{
  background-color: #F96D6C;
  border:black;
  width: 30px;
  height:30px;
  border-radius:50%;
  position: fixed;
  bottom:50px;
  right: 40px;
  z-index: 998;
}

.eye-step-btn{
  width: 22px;
  height:22px;
  position: fixed;
  bottom:54px;
  right: 43px;
  z-index: 999;

}

.display-img{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index:999;
  display: none;
}
