// .btn-map{
//   border-radius: 50px;
//   height: 50px;
//   width: 50px;
// }

.button-quiz{
  background-color: #F96D6C;
  border-radius: 50px;
  padding: 16px 25px;
  font-size:13px;
  font-weight:bold;

  text-transform: uppercase;
  color:white;
  margin-top: 20px;
  letter-spacing: 2px;
}

.parcours {
  & .border {
    border-bottom: solid white;
  }
  & .premier {
    margin-top: 10px;
  }
  & .etat {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 32px;
    margin-bottom: 16px;
  }
}

.bandeau-text {

}

.bandeau img {
  position: absolute;
  top: 365px;
  right: 89px;
}
