// .btn-map{
//   border-radius: 50px;
//   height: 50px;
//   width: 50px;
// }

.button-quiz{
  background-color: #F96D6C;
  border-radius: 50px;
  padding: 16px 25px;
  font-size:13px;
  font-weight:bold;

  text-transform: uppercase;
  color:white;
  margin-top: 20px;
  letter-spacing: 2px;
}

.parcours {
  & .border {
    border-bottom: solid white;
  }
  & .card-category-index .card-course-name {
      margin-top: 30px
    }
  & .premier {
    margin-top: 10px;
    & .card-course-main {
      margin-top: -57px;
    }
  }
  & .etat {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 32px;
    margin-bottom: 16px;
  }
}

.parcours .card-category-index {
  position: relative;
  & .text {
    margin-top: 26px;
  }
}


.bandeau {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
}

.parc {
  z-index: 900;
}
