.card-category-index{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/France-Carnac-Alignement_de_Kermario.jpg/1280px-France-Carnac-Alignement_de_Kermario.jpg");
  height: 300px;
  width: 200px;
  border-radius: 15px;
}

.mieux-note{
  display: flex;
  margin: 5px 5px;
  justify-content: space-evenly;
  scroll-direction: horizontal;
  width: 1200px;
  padding: 0;
}

.card-course-etape{
  text-align: center;
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  text-decoration: none;
  padding-bottom: 0;
}

.card-course-name{
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0;
}

.card-course-description{
  color: white;
  text-align: center;
  padding: 0;
}

.card-course-duration{
  color: white;
  padding-bottom: 3px;
  padding-right: 5px;
}
