body,html{
  width: 100vw;
}

.card-category-index{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/France-Carnac-Alignement_de_Kermario.jpg/1280px-France-Carnac-Alignement_de_Kermario.jpg");
  height: 300px;
  width: 250px;
  border-radius: 15px;
  flex-shrink: 0;
  margin: 0 30px;
}

.card-course-index{
  display: flex;
  padding: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 15px;
  margin-bottom: 25px;
}

.mieux-note{
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  flex-shrink: 0;
}

.card-course-etape{
  text-align: center;
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  text-decoration: none;
  padding-bottom: 0;
}

.card-course-name{
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
}

.card-course-description{
  color: white;
  text-align: center;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
}

.card-course-duration{
  color: white;
  padding-bottom: 3px;
  padding-right: 5px;
}

.title-index{
  font-family: 'Red Hat Text', sans-serif;
  text-align:center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}

.map{
  height: 350px;
  width: 100vw;
  border: 1px solid black;
}

.populaire {
  margin-top: 25px;
  h3{
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  }
}

.next-to-you{
  h2{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
}

.search{
  width: 250px;
  margin-left: 60px;
  margin-top: 300px;
}
