@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

#fly-in {
  font-size: 32px;
  margin: 5vh auto;
  height: 20vh;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 15s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}


@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    15% { opacity: 1;filter: blur(0); transform:scale(1)}
    30% { opacity: 1;filter: blur(0); transform:scale(.9)}
    40% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}
