.toggle-btn{
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: -80px;
  cursor: pointer;
}

.toggle-btn span{
  height: 3px;
  background-color: #3e444b;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.toggle-btn span:before{
  content: "";
  height: 3px;
  background-color: #3e444b;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}

.toggle-btn span:after{
  content: "";
  height: 3px;
  background-color: #3e444b;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

.my-nav {
  height: 400px;
  background-color:#3e444b;
  width: 200px;
  margin-left: -200px;
  transition-duration: 0.2s;
  position: absolute;
}

.my-nav a {
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  text-align: center;
  display: block;
  padding-top: 30px;
  text-decoration: none;
}


.my-nav.open {
  margin-left: 0;
  transition-duration: 0.2s;

}
