.toggle-btn{
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: -70px;
  cursor: pointer;
}

.toggle-btn span{
  height: 3px;
  background-color: #3e444b;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.toggle-btn span:before{
  content: "";
  height: 3px;
  background-color: #3e444b;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}

.toggle-btn span:after{
  content: "";
  height: 3px;
  background-color: #3e444b;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

.my-nav {
  height: 400px;
  background-color:#3e444b;
  width: 100vw;
  margin-right: -150vw;
  transition-duration: 0.2s;
  position: absolute;
  z-index:1;
  right: 0;
}

.my-nav a {
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  text-align: center;
  display: block;
  padding-top: 30px;
  text-decoration: none;
}

.my-nav a:hover{

  text-decoration:none;
}


.my-nav.open {
  margin-right: 0;
  transition-duration: 0.2s;

}



body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

a
{
  color:#fff;
  text-decoration:none;
}


.material-icons
{
  font-size:24px;
  margin-right:12px;
  vertical-align:text-bottom;
}

.menu
{
  background:#323a44;
  color:#fff;
  height:50px;
  position:relative;
}

.menu .title
{
  font-size:30px;
  font-weight:bold;
  line-height:50px;
  padding:0 20px;
  text-transform:uppercase;
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .2s;
}

.menu nav > *
{
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

.menu nav input
{
  background:rgba(0,0,0,.2);
  border:none;
  color:#fff;
}

.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:10px;
  width:50px;
}

.menu .burger:before
{
  content:'menu';
}

.menu .burger:checked:before
{
  content:'close';
}

.menu .burger:checked + nav
{
  height:calc(100vh - 50px);
}

// p
// {
//   padding:20px;
// }

h1{
  text-align: center;
}

