.sign_in {
  padding-top: 150px;
  width: 300px;
}

.case {
  border-radius: 50px;
}

.connexion {
  font-weight: bold;
  border-radius: 50px;
  width: 170px;
  background: #F96D6C; //#ffd1bd
  border: #F96D6C;
}
